name: Tests

on:
  workflow_call:
  pull_request:
    branches:
      - main
  push:
    tags-ignore:
      - v*
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        run: make run-tests